extends _layout.pug


block vars
	- var current = 'AD 15'
	- var description = 'Candidates for Democratic Central Committee representing the 15th Assembly District'


block main

	article.textual


		h1 Candidates from AD 15
		p (Albany, Berkeley, Emeryville, Oakland, Piedmont)

		h2 Vote for both candidates
	
		ul
			li PAOLA LAVERDE
			li ALFRED TWU

		p <a href="endorsements.html#ad15">Endorsements for AD 15 candidates</a>

		hr.separator


		.person
			h3 Paola Laverde
			.occupation Rent Stabilization Board Commissioner
			img(src="img/ad15/paola.jpg", alt="")
			p.
				Paola Laverde is Chair of the Berkeley Rent Stabilization Board and is in her second term as a publicly elected official. She has a background in bilingual broadcast journalism, courtroom and political asylum interpreting, and video production for government and nonprofit organizations. Ms. Laverde is a Public Information Officer for the State of California. Her experiences as a renter fuel her passion to give voice to those who have been negatively impacted by the housing affordability crisis. 

			//- a.twitter(href="https://twitter.com/____________") Twitter
			//- span &nbsp;&middot;&nbsp;
			//- a.facebook(href="https://www.facebook.com/______________") Facebook

		hr.separator

		.person
			h3 Alfred Twu
			.occupation Designer/Artist
			img(src="img/ad15/alfred.jpg", alt="")
			p.
				Alfred serves on the City of Berkeley Zero Waste Commission.  Within the Democratic Party, Alfred works on increasing student, youth, tenant, Asian & Pacific Islander, and LGBTQ participation in politics.  Active in all parts of the housing movement, Alfred fights for expanding rent control, funding affordable housing, and building homes near transit at both the local and state level.  Alfred studied architecture at UC Berkeley and has worked on housing, transportation, and infrastructure throughout the Bay Area.  
			a(href="http://alfredtwu.org/") Website


		h3: i Voting by mail begins February 3, 2020. Election day is Tuesday, March 3.

