extends _layout.pug


block vars
	- var current = 'ad15'
	- var description = 'Candidates for Democratic Central Committee representing the 15th Assembly District'


block main

	article.textual


		h1 Candidates from AD 15
		p (Albany, Berkeley, Emeryville, Oakland, Piedmont)
		
		.person
			h3 Alfred Twu
			.occupation Designer and Artist
			img(src="img/ad15/alfred.jpg", alt="")
			p.
				Alfred serves on the City of Berkeley Zero Waste Commission.  Within the Democratic Party, Alfred works on increasing student, youth, tenant, Asian & Pacific Islander, and LGBTQ participation in politics.  Active in all parts of the housing movement, Alfred fights for expanding rent control, funding affordable housing, and building homes near transit at both the local and state level.  Alfred studied architecture at UC Berkeley and has worked on housing, transportation, and infrastructure throughout the Bay Area.  


		hr

		p.
			We are still looking for great progressive candidates to run with the People-Powered Progressives.  More candidates will be announced soon.  Check back here or our <a href="https://www.facebook.com/PeoplePoweredProgressives/">FaceBook page</a> for updates.
