extends _layout.pug


block vars
	- var current = 'AD 16'
	- var description = 'Candidates for Democratic Central Committee representing the 16th Assembly District'


block main

	article.textual


		h1 Candidates from AD 16
		p (Dublin, Pleasanton, Livermore)
	
		h2 Vote for both candidates
	

		.person
			h3 Jacqueline Tarin-Rankl
			.occupation Telecommunications Consultant
			img(src="img/ad16/jackie.jpg", alt="")
			p.
				A life long Democrat and Livermore Native, Jackie supported several campaigns including Bernie Sanders for President in 2016 and 2020.  A passionate member of the CADEM Progressive Caucus and member of Livermore Indivisible, Tri-Valley for our Revolution and the Tri-Valley Democratic club. If elected she will continue to work hard to facilitate policies that help working families, seniors, veterans and help protect our diverse communities and protect our environment. 


			//- a.twitter(href="https://twitter.com/____________") Twitter
			//- span &nbsp;&middot;&nbsp;
			//- a.facebook(href="https://www.facebook.com/______________") Facebook

		.person
			h3 Jody Tomic
			.occupation Physician Assistant
			img(src="img/ad16/jody.jpg", alt="")
			p.
				Jody Tomic is a physician assistant and life-long resident of Pleasanton. Her key issue is Medicare for All. Jody is a member of several progressive organizations and worked on the 2016 Bernie Sanders Campaign. Jody's desire is to be a progressive voice for the diverse working people of Alameda County.
				
			//- a.twitter(href="https://twitter.com/doctomic") Twitter
			//- span &nbsp;&middot;&nbsp;
			//- a.facebook(href="https://www.facebook.com/______________") Facebook

		h3: i Voting by mail begins February 3, 2020. Election day is Tuesday, March 3.
