extends _layout.pug


block vars
	- var current = 'ad18'
	- var description = 'Candidates for Democratic Central Committee representing the AD18 (parts of Oakland, San Leandro, Alameda) portion of Alameda County.'


block main


	article.textual

		h1 Candidates from AD 18
		p (parts of Oakland, San Leandro, Alameda)



		.person
			h3 Guillermo Elenes
			.occupation Tenants’ Rights Organizer
			img(src="img/ad18/elenes.jpg", alt="")
			p.
				Guillermo D. Elenes is a veteran statewide tenants' rights and community organizer. Guillermo has worked against displacement in the Bay Area with both Tenants' Together and the Alliance of Californians for Community Empowerment (ACCE). From the foreclosure crisis in Los Angeles to the housing emergency in the Bay Area, Guillermo has been present when the community was in peril. He has dedicated his time to social justice, and has always been present to speak up for those in society that are not able to do so for themselves. First elected to the Central Committee in 2016, Guillermo is on a mission is to push forward an agenda of progressive reform in the Democratic Party. 


		.person

			h3 Pamela Price
			.occupation Civil Rights Attorney
			img(src="img/ad18/price.jpg", alt="")
			p.
				Pamela Price is a survivor of the Ohio juvenile justice and foster care systems. She graduated from Yale College and Berkeley School of Law where she earned a J.D. and a Master’s degree. In June 1991, she founded her own firm in Oakland. Every year since 2004, Price has been named a Northern California “Super Lawyer” by SF Magazine.  In 2017, Assemblymember Rob Bonta and the California Legislature honored her as the Woman of the Year for Assembly District 18. First elected to the Central Committee in 2016, Pamela has fought for an agenda of progressive reform in the Democratic Party.
			a.facebook(href="https://www.facebook.com/pamelapricecares/") Facebook




		.person

			h3 Victor Aquilar
			.occupation San Leandro City Council
			img(src="img/ad18/aguilar.jpg", alt="")
			p.
				Victor serves as on the City Council in San Leandro.  He had previously held a seat on the School Board for San Leandro Unified School District.  He moved to San Leandro in 2011 with his husband Dr. Nolan Quinabo.  He is a Senior Account Executive at Veritext Legal Solutions and holds a BA in Political Science.  He serves on the Board of the East Bay Stonewall Democratic Club and is President of the Floresta Neighborhood Association and the Lavender Seniors of the East Bay.


		.person


			h3 Jose Carlos Moreno
			.occupation Fulfillment Team Member
			img(src="img/ad18/moreno.jpg", alt="")
			p.
				Jose is a lifelong resident of Alameda County; he graduated from Cal State East Bay with a degree in Political Science. He has been an active member of advocacy groups such as Students for Quality Education in college involved in awareness campaigns, rallies, and lobbying in the state capitol. Jose is currently actively involved in organizing tenants locally with Our Revolution San Leandro both for the formation of tenant unions as well as to pass a rent control initiative. 
			a.facebook(href="https://www.facebook.com/josecarlos.moreno.5") Facebook


		.person

			h3 Cynthia Chandler
			.occupation Public Interest Attorney
			img(src="img/ad18/chandler.jpg", alt="")
			p.
				Cynthia teaches law at Berkeley Law and Golden Gate University School of Law and runs an innovative business coaching incubator for lawyers launching socially-missioned legal businesses serving low and middle income communities.  She is the cofounder of several nonprofit organizations including: Critical Resistance (a national anti-prison industrial complex organization); Justice Now (challenging gendered violence and imprisonment); the Eviction Defense Center; and Women's Positive Legal Action Network (advocating for women with HIV in prison/jails).



		.person

			h3 Marchon Tatmon
			.occupation Homeless Housing Advocate
			img(src="img/ad18/tatmon.jpg", alt="")
			p.
				Marchon Tatmon is an Oakland native who graduated from the University of Tulsa and earned a Master’s degree in Public Administration.  For almost 20 years, Marchon has worked to lift up community, including 9 years as a volunteer at the Ira Jenkins/Brookfield Recreational Center in East Oakland. As an administrator with Building Futures in the East Bay, Marchon housed nearly 200 homeless families in the past 2 years.  He is a certified domestic violence counselor and serves as a commissioner on the City of Oakland’s Budget Commission.  Marchon currently works as an advocate for unhoused people in the SF/Marin County Food Bank’s Government Affairs division.




		.person

			h3 Henry Gage
			.occupation Police Oversight Attorney
			img(src="img/ad18/gage.jpg", alt="")
			p.
				Henry Gage III is an attorney specializing in police oversight and public safety policy. Henry serves on the City of Oakland’s Privacy Advisory Commission and will join the Oakland Police Commission in October 2019. Henry also serves on the Steering Committee for the Coalition for Police Accountability, an Oakland-based nonprofit that works to support community oversight of the Oakland Police Department.
			a.twitter(href="https://twitter.com/henryjgage") Twitter



		.person

			h3 Andrea Luna
			.occupation Artist, Community Organizer and Activist
			img(src="img/ad18/andrea.jpg", alt="")
			p.
				Andrea Luna is a daughter of an immigrant and parent of a child with a learning disability. On the Central Committee, Andrea will fight for Universal Healthcare, Medicare for all, Housing and Tenant Rights, Protections for Immigrants, Justice Reform, Tuition-Free College and trade school and Environmental Protection Policies. She is the chair for the Toler Heights Neighborhood Association in Oakland, District 7, is on the school board of St. Bede Catholic School, Hayward, and is on the board of the City of Hayward’s Chamber of Commerce. She was a translator and advocate for Spanish-speaking farm workers in Salinas. 


		.person


			h3 Royl Roberts
			.occupation Diversity Program Director
			img(src="img/ad18/roberts.jpg", alt="")
			p.
				Royl is an Oakland resident and serves as a Commissioner on the Alameda County Human Relations Commission where he is the Housing and Homelessness Subcommittee Chair, the City of Alameda Disaster Council, the Oakland- Violence Prevention Committee, and is on the Board of the Martin Luther King, Jr. Freedom Center.  He holds an MBA and a Doctor of Jurisprudence (JD) with a Specialization Certificate in Business Law.  Currently, he works as a Director of Employee Relations and Diversity Programs, helping individuals get through difficult interpersonal issues, solve complex problems and manage risk while promoting safety.



		.person


			h3 Iris Merriouns
			.occupation Labor activist
			img(src="img/ad18/iris.jpg", alt="")
			p.
				Iris Merriouns currently serves as Staff to Oakland’s Vice Mayor. She has also served as Special Assistant, Policy Analyst and Chief of Staff to the Vice Mayor. She chairs the Board of Youth UpRising, focusing on career, education, health and wellness support for young residents of East Oakland, while building systems change and community economic development. She is also the Vice-President of the local A&W Chapter, IFPTE Local 21, advocating for fair wages and working conditions for City workers.






