extends _layout.pug


block vars
	- var current = 'ad18'
	- var description = 'Candidates for Democratic Central Committee representing the AD18 (parts of Oakland, San Leandro, Alameda) portion of Alameda County.'







