extends _layout.pug


block vars
	- var current = 'ad20'
	- var description = 'Candidates for Democratic Central Committee representing the 20th Assembly District'


block main

	article.textual


		h1 Candidates from AD 20
		p (Ashland, Castro Valley, Cherryland, Fairview, Fremont, Hayward, San Lorenzo, Sunol, Union City)
		
		.person
			h3 Vinnie Bacon
			.occupation Fremont City Councilmember
			img(src="img/ad20/vinnie.jpg", alt="")
			p.
				Vinnie has been a Fremont City Council and Central Committee member since 2012. As a progressive, environmentalist Democrat, Vinnie has always refused corporate/developer campaign contributions. As a Council member, he has fought for more affordable housing and against poorly planned development. He has brought referrals for rent stabilization, minimum wage, and Proposition 13 reform. As a Central Committee member, Vinnie has not been afraid to fight against the entrenched establishment. He wants to bring real change to the Democratic Party.


		.person
			h3 Vanessa Sadsad
			.occupation Community Organizer
			img(src="img/ad20/vanessa.jpg", alt="")
			p.
				Vanessa Sadsad was born and raised in Union City to a Filipino father and Mexican mother. Now more than ever we need a truly transparent party that amplifies the experiences of our most underrepresented communities. As the most diverse county, it is our duty to be party that works for its people of color, working people, queer and transgender people, and undocumented people for equitable policies. A party free from corporate interests. It is our duty to fight for racial, economic, and gender justice for all.

		.person
			h3 Barisha Spriggs
			.occupation Teacher and Organizer
			img(src="img/ad20/barisha.jpg", alt="")
			p.
				Barisa is an Elected AD 20 California Democratic State Central Committee Delegate, an Associate Member of the Alameda County Democratic Central Committee, and has been an active member of our community. It is important to create healthy connected communities and pass smart policies so all working people have a voice. Her top priorities are: Affordable housing and renters rights; fair development; good jobs; Finding an accessible pathway to cityhood for 140,000 unincorporated residents in AD20; Social and economic equity.


		.person
			h3 Joseph Camphor
			.occupation Nurse
			img(src="img/ad20/joseph.jpg", alt="")
			p.
				Evan Joseph Camphor is a Registered Nurse in the Intensive Care Unit. Registered Nurses are advocates, educators and organizers. He is also a dues paying member of the California Nurses Association/National Nurses United, and serves on the Professional Performance Committee (PPC). The PPC consists of eight bargaining unit Registered Nurses who recommend measures objectively to management in order to improve patient care.


		.person
			h3 Melissa Shuen-Mallory
			.occupation Legal Assistant
			img(src="img/ad20/melissa.jpg", alt="")
			p.
				Melissa is a bold progressive who believes in fighting the revolution from inside the house. They are committed to fighting for more transparency and diversity within the Democratic Party. They have been serving their community as the Chair of Union City's Human Relations Commission and also as the Chair of Southern Alameda County Progressive Democrats. Melissa is a strong believer in social justice, climate justice, healthcare as a human right and protecting the dignity of every human being.



 