extends _layout.pug


block vars
	- var current = 'ad18'
	- var description = 'Candidates for Democratic Central Committee representing the 20th Assembly District'


block main

	article.textual


		h1 Candidates from AD 20
		p (Ashland, Castro Valley, Cherryland, Fairview, Fremont, Hayward, San Lorenzo, Sunol, Union City)

		
		.person

			h3 Deneen Ogbeide
			.occupation ____________
			img(src="img/logo.png", alt="")
			p.
				________

		.person
			h3 Vinnie Bacon
			.occupation ____________
			img(src="img/logo.png", alt="")
			p.
				________

		.person
			h3 Vanessa Sadsad
			.occupation ____________
			img(src="img/logo.png", alt="")
			p.
				________

		.person
			h3 Barisha Spriggs
			.occupation ____________
			img(src="img/logo.png", alt="")
			p.
				________

		.person
			h3 Joseph Camphor
			.occupation ____________
			img(src="img/logo.png", alt="")
			p.
				________

		.person
			h3 Melissa Shuen-Malloryouns
			.occupation ____________
			img(src="img/logo.png", alt="")
			p.
				________

