extends _layout.pug


block vars
	- var current = 'Endorsements'
	- var description = 'Endorsements for Candidates for Alameda County Democratic Central Committee'


block main

	article.textual


		h1 Endorsements for People-Powered Progressives
			ul.endorsements

				li The Oakland East Bay Democratic Club (OEBDC)
					div All PPP candidates from AD 15 & AD 18
				li Ardella Dailey, Alameda School Board Trustee (2016- Present)
				li Amber Childress, Alameda County Board of Education	
				li Vinnie Bacon, Fremont City Councilmember	
				li Jenny Kassan, Fremont City Councilmember	


		h1#ad15 Endorsements for candidates from AD 15

			ul.endorsements

				li Our Revolution East Bay
					div Alfred Twu & Paola Laverde
				li Asian Pacific American Democratic Caucus of Alameda County	
					div Alfred Twu
				li Berkeley Tenants Union	
					div Paola Laverde & Alfred Twu
				li Buffy Wicks, State Assemblymember	
					div Alfred Twu
				li Cheryl Davila, Berkeley City Councilmember	
					div Paola Laverde
				li Dan Kalb, Oakland City Councilmember	
					div Paola Laverde
				li Dean Preston, San Francisco Supervisor	
					div Paola Laverde
				li Jesse Arreguin, Berkeley Mayor	
					div Paola Laverde
				li Jovanka Beckles	
					div Paola Laverde & Alfred Twu
				li Kate Harrison, Berkeley City Councilmember	
					div Paola Laverde
				li Leah Simon-Weisberg, Berkeley Rent Board Commissioner	
					div Paola Laverde
				li Melvin Willis, Richmond City Councilmember	
					div Paola Laverde & Alfred Twu
				li SEIU 1021	
					div Paola Laverde & Alfred Twu
				li Wellstone Democratic Renewal Club	
					div Paola Laverde


		h1#ad18 Endorsements for candidates from AD 18
			ul.endorsements

				li Black Women Organized for Political Action (BWOPA)
					div Iris Merriouns, Pamela Price*, Marchon Tatmon, Royl Roberts
				li Our Revolution East Bay
					div Pamela Price, Victor Aguilar, Howard Egerman, Andrea Luna Bocanegra, Austin Tam
				li Aimee Eng, Oakland School Board Trustee	
					div Austin Tam
				li Aisha Wahab, Hayward City Council	
					div Guillermo Elenes
				li Alameda Central Labor Council	
					div Howard Egerman, Iris Merriouns
				li Alice Lai-Bitker, Former Alameda County Supervisor  (2002-2010)	
					div Austin Tam
				li Asian Pacific American Labor Alliance (APALA), AFL-CIO	
					div Austin Tam
				li Benny Lee, San Leandro City Council Member (2012-Present) 	
					div Austin Tam
				li Brownie Mary Democratic Club of Alameda County	
					div Victor Aguilar, Jr. 
				li Damian Lillard, NBA Portland Trailblazers	
					div Marchon Tatmon
				li The East Bay Stonewall Democratic Club
					div East Bay Our Revolution
				li Ellen Corbett, Former Senate Majority Whip Leader	
					div Victor Aguilar, Jr. 
				li Jennifer Williams, Alameda School Board Trustee (2016-Present)	
					div Austin Tam
				li John Knox White, Alameda City Councilmember 	
					div Austin Tam
				li Kimberly Ellis, CADEMS	
					div Guillermo Elenes
				li Loren Taylor, Oakland City Councilmember	
					div Marchon Tatmon
				li Lorena Gonzales, Assemblymember, AD 80	
					div Guillermo Elenes
				li Marilyn Ezzy-Ashcraft, Alameda Mayor	
					div Austin Tam
				li Marshawn Lynch, NFL Seattle Seahawks	
					div Marchon Tatmon
				li Nate Miley, Alameda County Supervisor	
					div Marchon Tatmon
				li Oral Lee Brown, Oral Lee Brown Foundation	
					div Marchon Tatmon
				li Phong La, Alameda County Accessor	
					div Austin Tam
				li Robert Raburn, BART Board Director	
					div Austin Tam
				li Stewart Chen, Former Alameda City Council Member (2012-2014)	
					div Austin Tam
				li Wei-Ling Hubber, President UNITE-HERE Local 2850	
					div Guillermo Elenes
				li Wilma Chan, Alameda Board of Supervisors, (2010-Present) 	
					div Austin Tam
				li Coalition for Police Accountability
					div Pamela Price, Henry Gage
				li Wellstone Democratic Renewal Club	
					div Pamela Price
				li Metropolitan Greater Oakland (MGO) Democratic Club
					div Pamela Price
				li John George Democratic Club
					div Pamela Price


		h1#ad20 Endorsements for candidates from AD 20
			ul.endorsements

				li Our Revolution East Bay
					div Vinnie Bacon, Barisha Spriggs, Melissa Shuen-Mallory, Vanessa Sadsad
				li Aisha Knowles	
					div Barisha Spriggs 
				li Aisha Wahab	
					div Melissa Shuen-Mallory
				li Carol Dutra-Vernaci, Mayor of Union City	
					div Melissa Shuen-Mallory
				li Dan Kalb	
					div Barisha Spriggs 
				li East Bay Stonewall Democrats	
					div Melissa Shuen-Mallory
				li Emily Duncan, Union City Councilmember	
					div Melissa Shuen-Mallory
				li F.U.N. Progressives	
					div Melissa Shuen-Mallory
				li Hilary Crosby
					div Barisha Spriggs
				li Jenny Kassan, Fremont City Councilmember	
					div Melissa Shuen-Mallory, Barisha Spriggs
				li Richard Valle, Alameda County Supervisor	
					div Melissa Shuen-Mallory
				li Sara Lamnin, Hayward City Councilmember	
					div Melissa Shuen-Mallory. Barisha Spriggs 
				li SEIU 1021	
					div Barisha Spriggs, Melissa Shuen-Mallory
				li Taisha Brown, California Democratic Party African American Caucus	
					div Barisha Spriggs
				li Vinnie Bacon, Fremont City Councilmember	
					div Melissa Shuen-Mallory, Barisha Spriggs


