extends _layout.pug


block vars
	- var current = 'Home'
	- var description = 'Candidates for Democratic Central Committee in Alameda County.'

block title
	title People-Powered Progressives

//- REMINDER: DASH AFTER SLASH-SLASH HIDES COMMENTS FROM PUG COMPILER

//-.info(style="position:absolute; top:0; left:0; width:100%; height:20px; color:red;z-index:9999")

block append header

block main

	section.problem
		article.textual

			header
				h2 The Problem

				p.
					The Alameda County Central Committee — representing our area in the California Democratic Party — is not representative of our progressive spirit, nor the diversity of Alameda County. In AD18 for example, there is only 1 Black person elected to the Committee and only 4 representatives from Oakland out of 10 seats. There currently are no Black men elected to serve on the body representing the entire county! In the 2018 elections, the Central Committee generally endorsed the least progressive candidates for local and state offices, and tried to silence progressive voices on important issues. The incumbent representatives have held their seats for decades and are committed to maintaining the old status quo despite the groundwell of progressive change which is transforming the Democratic Party. It’s time for a change!


				p.
					Follow us on <a href="https://www.facebook.com/peoplepoweredprogressives">Facebook</a> and <a href="https://twitter.com/PeoplePoweredAC">Twitter</a>.

				p
					img(src="img/alameda-county-assembly-districts.jpeg")
				
				p.
					If you aren't sure which assembly district you live in, <a href="http://findyourrep.legislature.ca.gov">enter your address here.</a>


				nav.extra-menu
					ul
						//- +navLink('', 'AD 15')
						//- +navLink('', 'AD 16')
						+navLink('ad18.html', 'AD 18')
						+navLink('ad20.html', 'AD 20')
						//- +navLink('', 'AD 25')

	section.solution
		article.textual

			header
				h2 The Solution
			

				p.
					People-Powered Progressives is a diverse slate of community-based activists that are committed to make the Central Committee as progressive as our constituency. We support the statewide effort to reform the California Democratic Party by pledging to run corporate-free campaigns in this election and in the future. By running bold progressive candidates for the Central Committee, we seek to empower the local Democratic party to become more inclusive, more open to new membership and make sure that a progressive "people before profits" platform has a dominant voice on this committee. We are running as the People-Powered Progressives for Alameda County.

				p
					a(href='https://www.efundraisingconnections.com/c/PeoplePoweredProgressives/') Contribute to our campaign!
						


	section.questions
		article.textual

			header
				h2 Questions

				dl
					dt What is the Central Committee?
					dd.quoted “Your County Committee is the gateway to getting involved! County Committees drive the front-line efforts of the California Democratic Party: registering and educating voters, protecting the right to vote, and working to elect candidates who will fight for our values. From local elections to Congressional races, our 58 County Committees are working hard to help Democrats win and engage more voters. Find your County Committee on the list and contact them by email, phone or online.” — CDP Website

				dl
					dt What are we going to do differently?
					dd Open the party up to new people and ideas, open the party up to bold progressives, demand accountability of our elected officials, follow through on resolutions and initiatives, and increase proportional leadership representation within the party.


				dl
					dt What are our values?
					dd Engaged leadership, openness, democratic practice, promoting transparency at the local party level, growing the party and expanding party leadership.

				dl
					dt How does this work?
					dd The members of the Central Committees are elected in the primary election of a Presidential election year — in this case, the election will be held March 3, 2020. All voters registered as a Democrat will have the opportunity to vote for members of their Central Committee on that ballot. Depending on which assembly district you live in, you'll be able to vote for different candidates.



				p.
					<a href='https://www.efundraisingconnections.com/c/PeoplePoweredProgressives/'>Contribute to our campaign!</a>
					•
					Follow us on <a href="https://www.facebook.com/peoplepoweredprogressives">Facebook</a> and <a href="https://twitter.com/PeoplePoweredAC">Twitter</a>.

