extends _layout.pug


block vars
	- var current = 'Press Release 1'
	- var description = 'Candidates for Democratic Central Committee in Alameda County.'

block title
	title People-Powered Progressives

//- REMINDER: DASH AFTER SLASH-SLASH HIDES COMMENTS FROM PUG COMPILER

//-.info(style="position:absolute; top:0; left:0; width:100%; height:20px; color:red;z-index:9999")

block append header

block main

	section
		article.textual
			
			
			p People-Powered Progressives For Alameda County
			p Press Release

			p For Immediate Release

			p Thursday, October 3, 2019

			p Contact:  Jeromey Shafer: (415) 271-1724 


			p Today, a coalition of progressive community activists announced the launch of their campaign for the Alameda County Democratic Party Central Committee. Running as a slate across the County, their goal is to make the local Democratic party more inclusive and ensure that a progressive "people before profits" platform has a dominant voice on the Committee. 

			p People-Powered Progressives for Assembly District 18 includes civil rights attorney Pamela Price, tenants’ rights organizer Guillermo Elenes, San Leandro City Councilmember Victor Aguilar, public interest attorney Cynthia Chandler, homeless housing advocate Marchon Tatmon, police oversight attorney Henry Gage, community organizer and artist Andrea Luna, diversity program director Royl Roberts, labor activist Iris Merriouns and student organizer Jose Carlos Moreno.

			p People-Powered Progressives for Assembly District 20 includes Fremont City Councilmember Vinnie Bacon, CNA member Joseph Camphor, Ashland activist Barisha Spriggs, Union City Human Relations Commission Chair Melissa Shuen-Mallory and community organizer Vanessa Sadsad.

			p People-Powered Progressives for Assembly Districts 15, 16 and 25 will be joining the slate soon.

			p Community Members of the Alameda County Democratic Party Central Committee are elected every 4 years. They represent all of Alameda County, including 5 Assembly Districts.

			p As the local body of the California Democratic Party, the Central Committee is the gateway to the State and National Party. It determines what candidates will be endorsed and supported by the Party and how money from Democratic donors will be spent across the County. The Committee works closely with labor unions and local elected officials.


			p People-Powered Progressives for Alameda County believe that the Committee should reflect the diversity and progressive spirit of Alameda County. In AD18, only 1 Black person is elected to the Committee. There are currently no Black men or Asian or API elected members from any of the 5 Districts. The People-Powered Progressive slate currently includes 5 Black men, 6 Latinx, 2 API and 3 Black women. It is the first truly diverse slate to represent Alameda County in the Democratic Party.

			p People-Powered Progressives for Alameda County will open the party up to new people and progressive ideas, demand accountability of our elected officials, follow through on resolutions and initiatives and increase proportional leadership representation within the party. People-Powered Progressives are committed to engaged leadership, community-based organizing, promoting transparency at the local party level and expanding the party leadership.

			p To learn more, contact Jeromey Shafer at jeromey@peoplepoweredprogressives.com or (415) 271-1724.


			p.centered ###
			hr
			
			p People-Powered Progressives

			p In Alameda County, “the rainbow mosaic of humanity is on the move.” Sen. Nina Turner

