extends _layout.pug


block vars
	- var current = 'Press Release 2'
	- var description = 'Candidates for Democratic Central Committee in Alameda County.'

block title
	title People-Powered Progressives

//- REMINDER: DASH AFTER SLASH-SLASH HIDES COMMENTS FROM PUG COMPILER

//-.info(style="position:absolute; top:0; left:0; width:100%; height:20px; color:red;z-index:9999")

block append header

block main

	section
		article.textual
			

			p Press Release
 
			p For Immediate Release
 
			p Tuesday, December 10, 2019
 
			p Contact:  Jeromey Shafer:: (415) 271-1724 

			p A coalition of progressive community activists completed their filings on Friday, December 6, 2019, to run for the Alameda County Democratic Party Central Committee. Running as a slate across the County, People-Powered Progressives for Alameda County’s goals are to open the Democratic Party up to new people and progressive ideas, demand accountability of our elected officials, follow through on resolutions and initiatives and increase proportional leadership representation within the party.
 
			p Community Members of the Alameda County Democratic Party Central Committee are elected every 4 years. They represent all of Alameda County, including 5 Assembly Districts.
 
			p In Assembly District 15, People-Powered Progressives includes 2 members: Alfred Twu, Designer/Artist and Paola Laverde, the current Chair of the Berkeley Rent Stabilization Board.
 
			p In Assembly District 16, People-Powered Progressives includes 2 members: Jacqueline Tarin-Rankl, a Telecommunications Consultant, and Jody Tomic, a Physician Assistant. Tarin-Rankl is a native of Livermore and activist in several progressive organizations. Tomic is a native of Pleasanton and also an activist in local progressive organizations.
 
			p Assembly District 18 remains the largest delegation in the People-Powered Progressives slate with 11 members:
 
			p Andrea Luna Bocanegra, Artist, Community Organizer and Activist, Austin Tam, Disability Advocate, Guillermo Elenes, Tenants’ Rights Organizer, Henry Gage, Police Oversight Attorney, Howard Egerman, Union Safety Representative, Iris Merriouns, Legislative Analyst and Labor activist, Jose Carlos Moreno, Tenant Organizer, Marchon Tatmon, Homeless Housing Advocate, Pamela Price, Civil Rights Attorney, Royl Roberts, Diversity Program Director and Victor Aguilar, San Leandro City Council member.
 
			p In Assembly District 20, the 6 members of the People-Powered Progressives slate include Barisha Spriggs, a Teacher, Cullen Tiernan, a Communications Specialist, Frank Burton, a retired Family Therapist, Melissa Shuen-Mallory, a Legal Assistant, Vanessa Sadsad, a Community Organizer, and Vinnie Bacon, Fremont City Councilmember.
 
			p Vinnie Bacon is a candidate for the Alameda County Board of Supervisors, District 1, also on the March 2020 primary ballot.
 
			p As the local body of the California Democratic Party, the Central Committee is the gateway to the State and National Party. It determines what candidates will be endorsed and supported by the Party and how money from Democratic donors will be spent across the County. The Committee works closely with labor unions and local elected officials.
 
			p People-Powered Progressives are committed to engaged leadership, community-based organizing, promoting transparency at the local party level and expanding the party leadership.
 
			p To learn more, contact Jeromey Shafer at jeromey@peoplepoweredprogressives.com or (415) 271-1724.


			p.centered ###
			